@CHARSET "UTF-8";
img{
	border: 0;
}

#mainWrapper{	
	width : 1200px;
	margin: 0 auto;
}

#mainLog{
	float: left;
	font-family : fantasy;
	margin:0;
	padding: 0;
}

#mainBar{
	position: relative;
}

.line_align{
	float: left;
	line-height: 60px;
}


#moreInfoContent{
	display: none;
	position: relative;
	margin-top : 60px;
	left: 90%;
	z-index: 9;
	width: 15%;
	border : 2px solid #eff0f2;
	background-color: #eff0f2;
}

#moreInfoContent a:link {
    color: #000;
    text-decoration: none;
}

#moreInfoContent a:visited {
    text-decoration: none;
}

#moreInfoContent a:hover {
    text-decoration: underline;
}

#moreInfoContent a:active {
    text-decoration: underline;
}

#moreInfoContent ul li{
	border: 1px solid #eff0f2;
	background-color: #FFF;
	list-style : none;
	text-align: center;
	padding: 7px;
	margin-left: 0px; /* 다른 컴퓨터에서도 확인할것! */
}








