/*

	MADE BY DAVE
	HOMEPAGE : http://davedesign.tistory.com
	E-MAIL : davedesign@tistory.com

 */

@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


::selection {
    background: #3d5d95;
    color: #fff;
}

::-moz-selection {
    background: #3d5d95;
    color: #fff;
}


* {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin:0; padding:0; border:0;
          font-family:'Nanum Gothic', sans-serif;
}

ul, li { list-style:none; }
a, span { text-decoration:none; }
div, section { display:block; }

#wrapper {
	width:100%;
	min-width:1000px;
	height:auto;
	overflow:hidden;	
}

/*      QUICK MENU      */


#quick_wrapper {
	clear:both;
	width:100%;
	height:auto;
	overflow:hidden;
}

#quick_con_wrapper {
	width:1000px;
	height:20px;
	margin:0 auto;
	text-align:right;
	padding-right:10px;
}

#quick_con_wrapper > a {
	color:#999;
	font-size:12px;
	text-decoration:none;
	margin-left:1em;	
	letter-spacing:-0.5px;
}

#quick_con_wrapper > a:hover {
	color:#666;
}



/*      헤더      */

#header_wrapper {
	clear:both;
	width:100%;
	min-width:1000px;
	height:60px;
	overflow:hidden;
	border-bottom:1px solid #ccc;
	background-color:#fff;
}


#header_con_wrapper {
	width:1000px;
	margin:0 auto;
	height:auto;
	overflow:hidden;
}



/*       헤더 로고       */

#header_con_wrapper > a#logo {
	width:calc(1000px * 1/3);
    float: left;
    font-size:24px;
	line-height:60px;
    color:#999;
    font-weight:900;
    letter-spacing:-0.5px;
    text-align:left;
    padding-left:10px;
}

#header_con_wrapper > a#logo > span {
	color:#3d5d95;
}

/*      헤더 메인메뉴       */

#header_con_wrapper > #main_nav {
	width:calc(1000px * 2/3);
    float: right;
}

#main_nav > ul > li {
	float:left;
	width:calc(1000px * 2/3 / 5);         /*  대메뉴가 5개이므로 5등분   */
    text-align:right;
	padding-right:10px;
}

#main_nav > ul > li > a {
    color:#999;
	font-size:16px;
	font-weight:600;
	line-height:60px;
	transition-property:color;
	transition-duration:0.25s;
}

#main_nav > ul > li > a:hover {
	color:#3d5d95;
}



/*      헤더 드롭다운메뉴        */

#slide_nav {
	position:absolute;
	z-index:999;
	left:0;
	top:79px;
	width:100%;
	height:auto;
	overflow:hidden;
	background-color:#fff;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

#slide_con_nav {
	width:1000px;
	margin:0 auto;
	height:auto;
	overflow:hidden;
}

#slide_con_nav > #slide_left {
	width:calc(1000px * 1/3);
	float:left;
	text-align:right;
	padding-top:5px;
	padding-right:10px;
}

#slide_left > h4 {
	color:#999;
	font-weight:100;
}

#slide_con_nav > #slide_right {
	width:calc(1000px * 2/3);
	float:right;
}

#slide_right > ul {
	float:left;
	display:block;
	width:calc(1000px * 2/3 / 5);
	text-align:right;
	border-left:1px solid #ccc;
	padding-right:10px;
	height:auto;
	min-height:200px;      /*   동일한 길이의 테두리(border-left)를 넣기 위해 최소높이 값 설정   */ 
}

#slide_right > ul > a {
	display:block;
	color:#999;
	font-size:14px;
	padding:5px 0;
	transition-property:color;
	transition-duration:0.25s;
	line-height:25px;
}

#slide_right > ul > a:hover {
	color:#3d5d95;
}


/*    마우스 스크롤-다운시 #header_wrapper에 추가되는 Class 속성    */ 

.headerFixed {
    position:fixed;
    top:0px;
    left:0px;
    z-index:999;
    height:40px !important;
    line-height:40px;
    overflow:hidden;
}

.headerFixed a#logo,
.hederFixed > #header_con_wrapper > #main_nav,
.headerFixed > #header_con_wrapper > #main_nav > ul > li > a {
	height:40px !important;
	line-height:40px !important;
}

.headerFixed #slide_nav {
	top:40px !important;
}


/*            MAIN              */

#main_wrapper {
	clear:both;
	width:100%;
	min-width:1000px;
	height:500px;
	overflow:hidden;
}

#bottom_wrapper {
	clear:both;
	width:100%;
	min-width:1000px;
	height:auto;
	overflow:hidden;
	border-top:1px solid #ccc;
}

#bottom_con_wrapper {
	width:1000px;
	margin:0 auto;
	height:auto;
	overflow:hidden;
}

#bottom_con_wrapper > section {
	display:block;
	float:left;
	width:calc(1000px / 3 - 20px);     /*  섹션의 좌우 각각 10px의 margin이 있으므로 20px를 빼준다   */
	height:200px;
	border:1px solid #ccc;
	padding:10px 0 0 10px;
	margin:30px 10px;
	position:relative;
}

#bottom_con_wrapper > section > h4 {
	color:#333;
	letter-spacing:-0.5px;
}

#bottom_con_wrapper > section > h4 > span {
	color:#3d5d95;
}

#bottom_con_wrapper > section > p {
	margin-top:10px;
	font-weight:100;
	font-size:14px;
	color:#888;
	line-height:150%;
}

#bottom_con_wrapper > section > a {
	position:absolute;
	bottom:10px;
	left:10px;
	color:#fff;
	background-color:#3d5d95;
	padding:12px 8px;
	font-size:14px;
	line-height:100%;
	font-weight:100;
}


/*       SUB         */

#sub_wrapper {
	width:100%;
	height:auto;
	overflow:hidden;
	background:url(/gw4/images/sub_bg.jpg) center 0 no-repeat;
}
#sub_con_wrapper {
	width:1544px;
	height:auto;
	min-height:700px;      /*    좌우 border를 넣기 위해 최소 높이값 설정    */ 
	overflow:hidden;
	margin:0 auto;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

#left_wrapper {           /*   서브페이지의 좌측 영역   */
	width:180px;
	height:auto;
	overflow:hidden;
	float:left;
	background-color:#fff;
}

#left_title {
	width:180px;
	height:170px;
	padding:50px 0 0 20px;
	background:url(/gw4/images/left_title_bg.jpg) no-repeat;
}

#left_title > span {
	font-weight:600;
	color:#fff;
	font-size:14px;
}

#left_title > h2 {
	color:#fff;
	margin-top:20px;
	font-weight:600;
}

#left_wrapper > ul > a {
	display:block;
	height:60px;
	background-color:#fff;
	line-height:60px;
	border-bottom:1px solid #ccc;
	padding-left:20px;
	color:#777;
	font-size:16px;
}

#left_wrapper > ul > a:hover {
	color:#3d5d95;
}

#left_wrapper > ul > a.active {    /*    현재 보고있는 메뉴의 색상 표시     */ 
	color:#3d5d95;
}

#left_wrapper > ul > a > i {
	line-height:60px;
	font-size:16px;
	float:right;
	color:#fff;
	margin-right:20px;
}

#left_wrapper > ul > a.active > i {
	color:#3d5d95;
}

#left_wrapper > ul > a:hover > i {
	color:#3d5d95;
}


#right_wrapper {        /*     서브페이지의 컨텐츠 영역    */
	float:right;
	width:1362px;
	height:auto;
	min-height:700px;   /*    좌측 border를 넣기 위해 최소 높이값 설정    */ 
	overflow:hidden;
	padding:30px 50px 0;
	border-left:1px solid #ccc;	
}

#right_path {
	padding-top:30px;
}

#right_path > h5 {
	font-weight:100;
	color:#666;
}

#right_header {
	height:130px;
	padding-top:40px;
	border-bottom:2px solid #ccc;
}

#right_header > h1 {
	color:#333;
	font-weight:600;
	font-size:36px;
}

#right_header > h2 {
	font-weight:100;
	color:#3d5d95;
	font-size:24px;
	line-height:130%;
	padding-top:30px;
}

#right_wrapper > p {
	float:left;
	width:calc(100% / 2);
	height:auto;
	padding:20px 10px;
	line-height:170%;
	font-size:14px;
	color:#777;
	text-align:justify;
}




/*            FAMILY SITE       */

#family_wrapper {
	clear:both;
	width:100%;
	min-width:1000px;
	height:50px;
	border-top:1px solid #ccc;
}

#family_con_wrapper {
	width:1000px;
	margin:0 auto;
	height:50px;
	line-height:50px;
	padding-left:10px;
	font-weight:100;
	color:#777;
	font-weight:100;
	font-size:14px;
}	

#family_con_wrapper > h5 {
	font-size:14px;
	display:inline-block;
}

#family_con_wrapper span {
	margin:0 10px;
	color:#aaa;
}

#family_con_wrapper > i, a {
	font-size:14px;
	color:#777;
}

#family_con_wrapper > a:hover {
	color:#3d5d95;
}


/*            FOOTER            */


#footer_wrapper {
	width:100%;
	height:auto;
	border-top:1px solid #ccc;
}

#footer_con_wrapper {
	width:1000px;
	margin:0 auto;
	height:auto;
	overflow:hidden;
	padding:20px 0 20px 10px;
}

#footer_left {
	width:calc(100% * 2/3);
	float:left;
}

#footer_left span {
	color:#aaa;
	font-style:normal;
	font-size:12px;
	margin:0 5px;
}

#footer_left > a {
	color:#555;
	font-weight:600;
	font-size:14px;
}

#footer_left > a:hover {
	color:#3d5d95;
	text-decoration:underline;
}

#footer_left > address {
	margin-top:20px;
	font-style:normal;
	font-size:14px;
	color:#777;
	line-height:150%;
}

#footer_left > address > a {
	color:#777;
}

#footer_left > p {
	color:#777;
	font-size:14px;
	line-height:150%;
}

#footer_right {
	width:calc(100% * 1/3);
	float:right;
}

/*     맨위로 Scroll     */

a.top {
	position: fixed;
	right: 5%;
	bottom: 5%;
	display: none;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:24px;
	color:#fff;
	border:1px solid #ccc;
	background-color:#3d5d95;
}



